.container{
    display:flex;
    flex-wrap: wrap;
}

.container a {
    text-decoration: none;
}
.m-10{
    margin: 10px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: black;
}

h1{
    color:  rgb(78, 39, 11);
}

.horizontal-flex-container > input{
    width: 30%;
    text-align: center;
}
.horizontal-flex-container > button{
    width: 30%;
}

.order-container{
    width: 20vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 20px
}

.orders-container{
    display: flex;
    flex-direction: column;
}

.dynamic-bg:nth-child(odd){
    background-color: aquamarine;
}

.dynamic-bg:nth-child(even){
    background: aliceblue;
}

.transparent-bg{
    background: transparent;
    border-color: rgba(148, 112, 44, 0.815);
    border-radius: 20px;
}

.quantity-control{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.quantity-control button{
    animation-duration: .5s;
}

.quantity-control button:active{
    background-color: gray;
}